.fondo {
    background-color: rgb(247, 227, 119);
    text-align: center;
}

#tabla {
    background-color: rgba(247, 247, 247, 0.945);
    text-align: center;
}

.encabezado {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    margin: auto;
}

.encabezado2 {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
}

.encabezado3 {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
}

.encabezado4 {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
}

.encabezado5 {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
}

.encabezado6 {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
}

.titulo {
    font-family: fantasy;
    color: rgb(235, 123, 48);
    font-size: 15px;
    text-decoration: blink;
}
